/************************
        CLASSE GLOBAL
************************/
body li {
  list-style: none;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
@font-face {
  font-family: "space age";
  src: url("typo/spaceage.ttf") format("truetype");
}

/************************
        FORMULAIRE SE CONNECTER SUR PAGE SECONNECTER.HTML
************************/

.debutdivconnexioninscription h2,
h5 {
  font-family: "Kurale", serif;
  color: rgb(144, 92, 76);
}
.connexioninscription {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.formulaireinscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulaireinscription h5 {
  margin-bottom: 43px;
  margin-left: 110px;
}
.formulaireconnexion form {
  display: flex;
  flex-direction: column;
}
.formulaireconnexion input[type="email"],
input[type="password"],
input[type="submit"],
button {
  padding: 8px 10px;
  border-radius: 25px;
  border: 1px solid #c8c8c8;
  width: 90%;
  outline: none;
}
.formulaireconnexion input[type="email"]::placeholder,
input[type="password"]::placeholder {
  font-size: 13px;
}

.formulaireconnexion p {
  font-size: 12px;
}

.formulaireconnexion label {
  font-size: 14px;
}
.formulaireconnexion input[type="submit"],
button {
  background-color: rgb(61, 138, 145);
  color: white;
}

/************************
        PAGE PRODUIT SUR PAGE pageProduit.html
************************/

/******** CARROUSSEL DE PHOTO DIFFERENTES COULEURS*********/

.ensembleProduitPanier {
  margin-top: 50px;
}
.plusieurPhotoproduit {
  display: flex;
  flex-direction: column;
}

.plusieurPhotoproduit img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

/******** PHOTO PRINCIPALE DU PRODUIT *********/
.photoPrincipale {
  align-items: center;
  justify-content: center;
}
.photoPrincipale img {
  width: 500px;
  height: 500px;
}
/******** NOM PRODUIT ET LOGO MARQUE *********/
.nomEtLogo img {
  width: 130px;
  height: 40px;
  margin-left: 30px;
  object-fit: cover;
}

.nomEtLogo h5 {
  font-family: "Montserrat", sans-serif;
}

/******** ETOILES NOTE ET NOMBRE D'AVIS *********/
.avisProduit {
  margin-top: 10px;
}

.avisProduit i {
  padding-right: 5px;
}

.nombreAvis {
  background-color: rgb(247, 247, 16);
  border-radius: 50px;
  padding: 0px 10px;
  font-size: 12px;
  margin-right: 10px;
  margin-left: 10px;
}

.lireAvis {
  font-size: 11px;
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

/******** VERSION DU PRODUIT AVEC DIFFERENTES COULEUR *********/
.produitCouleur {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 15px;
}
.carreeCouleur {
  margin-top: 15px;
}
.carreeCouleur li {
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 13px;
  padding: 3px 10px;
}
/******** SAISIE DES QUANTITEES ET VALIDATION DU PANIER *********/
.produitQuantite {
  margin-top: 15px;
}

.panier input[type="number"] {
  width: 100%;
  outline: none;
  height: 40px;
  border-color: rgba(0, 0, 0, 0.199);
  margin-top: 20px;
  padding-left: 20px;
}

.panier button[type="submit"] {
  outline: none;
  height: 40px;
  border-color: none;
  background-color: rgb(144, 92, 76);
  border-radius: 0px;
  margin-top: 10px;
}

/******** DETAILS SUR LIVRAISON ET DELAIS *********/
.livraison,
.frais {
  color: rgba(0, 128, 0, 0.705);
  margin-top: 20px;
  font-size: 14px;
}
.livraison i,
.frais i {
  padding-right: 10px;
}

/******** LOGO RESEAUX SOCIAUX *********/
.partager {
  margin-top: 20px;
}

.logoPartager {
  font-size: 40px;
  color: rgb(144, 92, 76);
}
.logoPartager li {
  margin-right: 20px;
}
/******** ONGLETS DESCRIPTIF ET AVIS *********/

.descriptifAvis {
  height: 500px;
  border: 1px solid black;
}
.container-onglets {
  background: grey;
  width: 100%;
  height: 30px;
  display: flex;
}

.onglets {
  width: 50%;
}

.contenu {
  height: 70%;
  width: 100%;
  position: absolute;
  opacity: 0;
}

.contenu h3,
p {
  padding: 20px;
}

/*ANIMATION DE L'ONGLET*/

.active {
  background: yellow;
}
.activeContenu {
  opacity: 1;
}

/************************
        HEADER
************************/
header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999;
}
.navmobile,
.recherchemobile {
  display: none;
}

/*************************LOGO***********************/
nav img {
  height: 130px;
  width: 180px;
  object-fit: cover;
}
/********************COULEUR DES LOGOS***********************/
header nav i {
  color: rgb(144, 92, 76);
}

/***********************BARRE DE RECHERCHE******************/

nav input {
  width: 250px;
}

header nav ul .rechercher .searchbar {
  border: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1px 8px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.searchbar input:focus {
  outline: none;
}
.searchbar input::placeholder {
  font-size: 13px;
}
.searchbar i {
  font-size: 25px;
  color: rgb(144, 92, 76, 0.5);
}
/***********************SE CONNECTER******************/
.seconnecter i {
  padding-right: 20px;
  font-size: 25px;
}
.seconnecter p {
  font-size: 13px;
}

/***********************MON PANIER******************/
.monpanier i {
  padding-right: 20px;
  font-size: 25px;
}
.monpanier p {
  font-size: 13px;
}
/***********************NOUS TROUVER******************/
.noustrouver i {
  padding-right: 20px;
  font-size: 25px;
}

.noustrouver p {
  font-size: 13px;
}

/***********************************
            HEADER ANIMAUX
************************************/

.animaux ul li {
  width: calc(100% / 7);
  text-align: center;
}
.animaux ul li a {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

/***********************************
            PHOTO SOUS HEADER
************************************/
.photosousheader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.337), rgba(0, 0, 0, 0.337)),
    url("img/image/dog-4494554_1920.jpg");
  background-size: 120%;
  background-position: 90% 20%;
  text-align: center;
  padding-bottom: 300px;
}

.photosousheader h1 {
  font-family: "Kurale", serif;
  font-weight: bold;
  font-size: 65px;
  color: white;
  position: relative;
  padding-top: 200px;
  display: inline-block;
}
.photosousheader h1::after {
  content: "";
  background-color: white;
  width: 25px;
  height: 4px;
  position: absolute;
  top: 245px;
  right: -50px;
}
.photosousheader h1::before {
  content: "";
  background-color: white;
  width: 25px;
  height: 4px;
  position: absolute;
  top: 245px;
  left: -45px;
}
/***********************************
            DESCRIPTION
************************************/

.containerdescription p {
  color: #787878;
  font-size: 17px;
}
.containerdescription {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -80px;
  background-color: rgb(253, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
/***********************************
            CAROUSSEL
************************************/

/**************TAILLE DES IMAGES*************/
.carousel img {
  height: 450px;
  object-fit: cover;
}
.chiencarousel {
  object-fit: cover;
  object-position: 0% 20%;
  width: 100%;
}
/**************VOILE NOIR SUR IMAGES*************/
.carousel-item {
  position: relative;
}
.carousel-item::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.205);
}
/**************BOUTON ROND SUR CARROUSSEL*************/
.carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.carousel-caption {
  z-index: 1;
}
/**************BOUTON BTN*************/
.monbouton a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.603);
  padding: 15px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}
.carousel-item h3 {
  margin: 30px 0 30px 0;
}

/************************************
        NOS OFFRES DU MOMENT
*************************************/

.nosoffres h3 {
  font-family: "Kurale", serif;
  position: relative;
  display: inline-block;
}

/******************BEFORE ET AFTER DU TITRE*************/
.nosoffres h3::after {
  content: "";
  background-color: black;
  width: 400px;
  height: 1px;
  position: absolute;
  top: 17px;
  right: -420px;
}
.nosoffres h3::before {
  content: "";
  background-color: black;
  width: 400px;
  height: 1px;
  position: absolute;
  top: 17px;
  left: -415px;
}
/***********************************
      ARTICLES DU MOMENT
************************************/
.slidearticle {
  margin-bottom: 50px;
}

/******BOX SHADOW DES ARTICLES ET PADDING INTERIEUR*****/
.descriptionarticle {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  padding: 20px;
}
/****************DIMENSION IMAGE ARTICLE****************/
.descriptionarticle img {
  height: 200px;
  width: 150px;
  object-fit: cover;
}
/****************FLEX COLUMN DE TOUTES LES LI****************/
.slidearticle ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descriptionarticle:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/****************COEUR**************/
.slidearticle .coeur {
  font-size: 25px;
}
/*************NOM ARTICLE**********/
.slidearticle .nomarticle {
  font-size: 13px;
  font-weight: bolder;
}
/********ETOILE AVIS ARTICLE**********/
.slidearticle .etoile p {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0, 0, 255, 0.698);
}
.slidearticle .etoile {
  padding: 20px 0;
}

.slidearticle .etoile i {
  font-size: 14px;
}
/*************PRIX ARTICLE**********/
.slidearticle .prix i {
  font-size: 25px;
  padding: 10px;
  color: white;
  border-radius: 25px;
  background-color: rgb(144, 92, 76);
  transform: rotate(30deg);
}
.slidearticle .prix p {
  font-size: 25px;
  font-weight: bold;
}

/*************STOCK ARTICLE***********/
.slidearticle .stock {
  padding-top: 20px;
}
.slidearticle .stock span {
  height: 8px;
  width: 8px;
  border-radius: 25px;
  background-color: rgba(10, 75, 26, 0.541);
}
.slidearticle .stock p {
  padding-left: 20px;
  font-size: 14px;
}
/************************************
        LES PLUS VENDUS
*************************************/

.lesplusvendus h3 {
  font-family: "Kurale", serif;
  position: relative;
  display: inline-block;
}

/*****************BEFORE ET AFTER DU TITRE*************/
.lesplusvendus h3::after {
  content: "";
  background-color: black;
  width: 400px;
  height: 1px;
  position: absolute;
  top: 17px;
  right: -420px;
}
.lesplusvendus h3::before {
  content: "";
  background-color: black;
  width: 400px;
  height: 1px;
  position: absolute;
  top: 17px;
  left: -415px;
}
/************************************
        PRIX MALIN - NOUVEAUTES
*************************************/

.prixmalin {
  background-image: linear-gradient(rgba(0, 0, 0, 0.337), rgba(0, 0, 0, 0.337)),
    url("img/image/photo-1535930749574-1399327ce78f.jfif");
  background-position: center;
  background-size: cover;
  padding-top: 500px;
}
.nouveautes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.337), rgba(0, 0, 0, 0.337)),
    url("img/image/souris-qui-est-etonnee.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 500px;
}
/************************************
        PLUS DE SERVICES
*************************************/
.plusdeservices h3 {
  font-family: "Kurale", serif;
  position: relative;
  display: inline-block;
}
/*****************BEFORE ET AFTER DU TITRE*************/
.plusdeservices h3::after {
  content: "";
  background-color: black;
  width: 400px;
  height: 1px;
  position: absolute;
  top: 17px;
  right: -420px;
}
.plusdeservices h3::before {
  content: "";
  background-color: black;
  width: 400px;
  height: 1px;
  position: absolute;
  top: 17px;
  left: -415px;
}
/************************************
        ANIMAUX DANS L'ESPACE
*************************************/

.animauxespace {
  background-image: url("img/image/AnimalsThroughTimeM8-Thumbnail-1920x1080.png_dl=1");
  background-position: center;
  background-size: cover;
  padding-bottom: 500px;
}
.animauxespace h3 {
  position: absolute;
  font-family: "space age";
  bottom: 320px;
  left: 150px;
}
.photoespace {
  position: relative;
}
/************************************
              AVANTAGES
*************************************/
.avantages .quatreavantages i {
  font-size: 30px;
  padding-bottom: 30px;
}
.avantages {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/image/footer1.jpg");
}

/************************************
              FOOTER
*************************************/
footer {
  background-color: rgba(144, 92, 76, 0.308);
}

/*********NEWSLETTER********/
.newsletter h6 {
  font-size: 18px;
}
.newsletter p {
  color: #787878;
}
.question h6 {
  font-size: 18px;
}
/*********BOUTON MAIL********/
.newsletter input[type="email"] {
  padding: 8px 10px;
  border-radius: 25px;
  border: none;
  width: 100%;
}
.newsletter input[type="email"]::placeholder {
  font-size: 13px;
}
/*********BOUTON JE M'ABONNE********/
.newsletter li input[type="submit"] {
  background-color: rgb(61, 138, 145);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
/*********LOGO RESEAUX********/
.newsletter .logo i {
  font-size: 25px;
  height: 50px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  color: white;
  padding: 10px;
}
/* .newsletter {
  position: relative;
  top: 45px;
} */
/*********QUESTION********/

.question {
  background-color: rgb(61, 138, 145);
  border-radius: 15px;
}
.question p {
  color: white;
}
.horaire {
  font-size: 13px;
}
.paiements h6 {
  font-size: 18px;
}

/*********NOS MARQUES********/

.nosmarques h6 {
  font-size: 18px;
}
.nosmarques img {
  height: 90px;
  width: 90px;
  object-fit: cover;
}

/*********NOS PARTENAIRES********/
.nospartenaires h6 {
  font-size: 18px;
}
.nospartenaires img {
  height: 50px;
  width: 90px;
  padding-left: 10px;
  object-fit: center;
}
/* .marquespartenaires {
  position: relative;
  top: 45px;
} */
.spa {
  object-fit: cover;
}
.santevet {
  object-fit: cover;
}

/*************************************
            MEDIA
*************************************/

/*mobile*/

@media (max-width: 768px) {
  /***************************************
            HEADER
***************************************/
  .navpc,
  .hranimauxhaut,
  .hranimauxbas,
  .animaux {
    display: none;
  }
  .navmobile input {
    width: auto;
  }
  .navmobile {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: rgb(144, 92, 76);
  }
  .navmobile img {
    height: 90px;
    width: 200px;
    object-fit: cover;
  }
  .navmobile i {
    font-size: 25px;
    color: white;
  }
  /*************BARRE DE RECHERCHE MOBILE***********/
  .recherchemobile {
    display: flex;
    padding: 10px 0;
    box-shadow: rgba(50, 50, 93, 0.062) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.384) 0px 18px 36px -18px inset;
    border-radius: 50px;
  }

  .recherchemobile input {
    width: 100%;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.294);
    padding: 1px 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  .recherchemobile ::placeholder {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.521);
  }
  .recherchemobile input:focus {
    outline: none;
  }
  /*************MON COMPTE ET NOUS TROUVER MOBILE***********/

  .moncomptemobile,
  .noustrouvermobile {
    background: rgba(0, 0, 0, 0.027);
  }
  .moncomptemobile i,
  .noustrouvermobile i {
    color: rgb(144, 92, 76);
  }
  /*************BURGER***********/
  .navmobile #burger {
    display: block;
    appearance: none;
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    font-weight: 900;
    color: white;
    cursor: pointer;
  }
  .navmobile #burger::before {
    content: "\f0c9";
  }
  .navmobile #burger:checked::before {
    content: "\f00d";
  }
  .navmobile ul {
    height: 0;
    display: block;
    width: 100%;
    position: absolute;
    background: white;
    top: 110px;
    width: 45%;
    left: 0;
    overflow: hidden;
  }
  .navmobile ul li {
    text-align: left;
    width: 100%;
    padding: 15px 25px;
  }
  .navmobile ul li a {
    color: rgb(144, 92, 76);
    font-weight: bold;
    font-size: 15px;
  }
  .navmobile #burger:checked + ul {
    height: auto;
  }

  /**********PHOTO SOUS HEADER*************/
  .photosousheader {
    background-repeat: no-repeat;
    padding-bottom: 50px;
    padding-top: 150px;
  }
  .photosousheader h1 {
    padding-top: 0;
    padding-bottom: 40px;
    font-size: 45px;
  }

  .photosousheader h1::after,
  .photosousheader h1::before {
    display: none;
  }

  /*************BEFORE ET AFTER***********/
  .nosoffres h3::after {
    display: none;
  }
  .nosoffres h3::before {
    display: none;
  }
  .lesplusvendus h3::after {
    display: none;
  }
  .lesplusvendus h3::before {
    display: none;
  }
  .plusdeservices h3::after {
    display: none;
  }
  .plusdeservices h3::before {
    display: none;
  }
  /***********************************
            DESCRIPTION 
************************************/
  .containerdescription p {
    font-size: 12px;
  }
  .containerdescription {
    width: auto;
    margin-top: 0px;
  }
  .descriptionarticle {
    padding: 0px;
  }
  /***********************************
        PRIX MALIN - NOUVEAUTES 
************************************/
  .prixmalin {
    background-position: 50% 30%;
    padding-top: 400px;
  }
  .nouveautes {
    background-position: 50% 30%;
    padding-top: 400px;
  }
}
.prixmalinnouveautes ul {
  padding: 0;
}
/***********************************
        ANIMAUX - ESPACE 
************************************/

.animauxespace h3 {
  position: absolute;
  font-family: "space age";
  bottom: 380px;
  left: 30px;
}

.photoespace img {
  width: 200px;
}

.photoespace .monbouton {
  margin: 0;
}

/************************************
              AVANTAGES
*************************************/

.avantages {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/image/footer1.jpg");
  background-repeat: no-repeat;
  background-position: 45% 50%;
}
/************************************
              PAGE FORMULAIRE SECONNECTER.HTML
*************************************/

.formulaireconnexion input[type="email"],
input[type="password"],
input[type="submit"],
button {
  width: 100%;
}
.formulaireinscription {
  align-items: flex-start;
}
