/************************
        CLASSE GLOBAL
************************/
body li {
  list-style: none;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
@font-face {
  font-family: "space age";
  src: url("typo/spaceage.ttf") format("truetype");
}

/************************
        HEADER
************************/
header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999;
}
/*************************LOGO***********************/
nav img {
  height: 130px;
  width: 180px;
  object-fit: cover;
}
/********************COULEUR DES LOGOS***********************/
header nav i {
  color: rgb(144, 92, 76);
}

/***********************BARRE DE RECHERCHE******************/

nav input {
  width: 250px;
}

header nav ul .rechercher .searchbar {
  border: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1px 8px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.searchbar input:focus {
  outline: none;
}

.searchbar i {
  font-size: 30px;
  color: rgb(144, 92, 76, 0.5);
}
/***********************SE CONNECTER******************/
.seconnecter i {
  padding-right: 20px;
  font-size: 30px;
}

/***********************MON PANIER******************/
.monpanier i {
  padding-right: 20px;
  font-size: 30px;
}
/***********************NOUS TROUVER******************/
.noustrouver i {
  padding-right: 20px;
  font-size: 30px;
}

/***********************************
            HEADER ANIMAUX
************************************/

.animaux ul li {
  width: calc(100% / 7);
  text-align: center;
}
.animaux ul li a {
  color: black;
  font-weight: bold;
  font-size: 17px;
}

/***********************************
            PHOTO SOUS HEADER
************************************/
.photosousheader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.337), rgba(0, 0, 0, 0.337)),
    url("img/image/dog-4494554_1920.jpg");
  background-size: 120%;
  background-position: 90% 20%;
  text-align: center;
  padding-bottom: 300px;
}

.photosousheader h1 {
  font-family: "Kurale", serif;
  font-weight: bold;
  font-size: 65px;
  color: white;
  position: relative;
  padding-top: 200px;
  display: inline-block;
}
.photosousheader h1::after {
  content: "";
  background-color: white;
  width: 25px;
  height: 4px;
  position: absolute;
  top: 245px;
  right: -50px;
}
.photosousheader h1::before {
  content: "";
  background-color: white;
  width: 25px;
  height: 4px;
  position: absolute;
  top: 245px;
  left: -45px;
}
/***********************************
            DESCRIPTION
************************************/

.containerdescription p {
  color: #787878;
  font-size: 17px;
}
.containerdescription {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -80px;
  background-color: rgb(253, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
/***********************************
            CAROUSSEL
************************************/

/**************TAILLE DES IMAGES*************/
.carousel img {
  height: 450px;
  object-fit: cover;
}
.chiencarousel {
  object-fit: cover;
  object-position: 0% 20%;
  width: 100%;
}
/**************VOILE NOIR SUR IMAGES*************/
.carousel-item {
  position: relative;
}
.carousel-item::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.205);
}
/**************BOUTON ROND SUR CARROUSSEL*************/
.carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.carousel-caption {
  z-index: 1;
}
/**************BOUTON BTN*************/
.monbouton a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.603);
  padding: 15px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}
.carousel-item h3 {
  margin: 30px 0 30px 0;
}

/************************************
        NOS OFFRES DU MOMENT
*************************************/

.nosoffres h3 {
  font-family: "Kurale", serif;
  position: relative;
  display: inline-block;
}

/******************BEFORE ET AFTER DU TITRE*************/
.nosoffres h3::after {
  content: "";
  background-color: black;
  width: 400px;
  height: 1px;
  position: absolute;
  top: 17px;
  right: -420px;
}
.nosoffres h3::before {
  content: "";
  background-color: black;
  width: 400px;
  height: 1px;
  position: absolute;
  top: 17px;
  left: -415px;
}
/***********************************
      ARTICLES DU MOMENT
************************************/
.slidearticle {
  margin-bottom: 50px;
}

/******BOX SHADOW DES ARTICLES ET PADDING INTERIEUR*****/
.descriptionarticle {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  padding: 20px;
}
/****************DIMENSION IMAGE ARTICLE****************/
.descriptionarticle img {
  height: 200px;
  width: 150px;
  object-fit: cover;
}
/****************FLEX COLUMN DE TOUTES LES LI****************/
.slidearticle ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descriptionarticle:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/****************COEUR**************/
.slidearticle .coeur {
  font-size: 25px;
}
/*************NOM ARTICLE**********/
.slidearticle .nomarticle {
  font-size: 13px;
  font-weight: bolder;
}
/********ETOILE AVIS ARTICLE**********/
.slidearticle .etoile p {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0, 0, 255, 0.698);
}
.slidearticle .etoile {
  padding: 20px 0;
}

.slidearticle .etoile i {
  font-size: 14px;
}
/*************PRIX ARTICLE**********/
.slidearticle .prix i {
  font-size: 25px;
  padding: 10px;
  color: white;
  border-radius: 25px;
  background-color: rgb(144, 92, 76);
  transform: rotate(30deg);
}
.slidearticle .prix p {
  font-size: 25px;
  font-weight: bold;
}

/*************STOCK ARTICLE***********/
.slidearticle .stock {
  padding-top: 20px;
}
.slidearticle .stock span {
  height: 8px;
  width: 8px;
  border-radius: 25px;
  background-color: rgba(10, 75, 26, 0.541);
}
.slidearticle .stock p {
  padding-left: 20px;
  font-size: 14px;
}
/************************************
        LES PLUS VENDUS
*************************************/

.lesplusvendus h3 {
  font-family: "Kurale", serif;
  position: relative;
  display: inline-block;
}

/*****************BEFORE ET AFTER DU TITRE*************/
.lesplusvendus h3::after {
  content: "";
  background-color: black;
  width: 400px;
  height: 1px;
  position: absolute;
  top: 17px;
  right: -420px;
}
.lesplusvendus h3::before {
  content: "";
  background-color: black;
  width: 400px;
  height: 1px;
  position: absolute;
  top: 17px;
  left: -415px;
}
/************************************
        PRIX MALIN - NOUVEAUTES
*************************************/

.prixmalin {
  background-image: linear-gradient(rgba(0, 0, 0, 0.337), rgba(0, 0, 0, 0.337)),
    url("img/image/photo-1535930749574-1399327ce78f.jfif");
  background-position: center;
  background-size: cover;
  padding-top: 500px;
}
.nouveautes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.337), rgba(0, 0, 0, 0.337)),
    url("img/image/souris-qui-est-etonnee.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 500px;
}
/************************************
        PLUS DE SERVICES
*************************************/
.plusdeservices h3 {
  font-family: "Kurale", serif;
  position: relative;
  display: inline-block;
}
/*****************BEFORE ET AFTER DU TITRE*************/
.plusdeservices h3::after {
  content: "";
  background-color: black;
  width: 400px;
  height: 1px;
  position: absolute;
  top: 17px;
  right: -420px;
}
.plusdeservices h3::before {
  content: "";
  background-color: black;
  width: 400px;
  height: 1px;
  position: absolute;
  top: 17px;
  left: -415px;
}
/************************************
        ANIMAUX DANS L'ESPACE
*************************************/

.animauxespace {
  background-image: url("img/image/AnimalsThroughTimeM8-Thumbnail-1920x1080.png_dl=1");
  background-position: center;
  background-size: cover;
  padding-bottom: 500px;
}
.animauxespace h3 {
  position: absolute;
  font-family: "space age";
  bottom: 320px;
  left: 150px;
}
.photoespace {
  position: relative;
}
/************************************
              AVANTAGES
*************************************/
.avantages .quatreavantages i {
  font-size: 30px;
  padding-bottom: 30px;
}
.avantages {
  background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.801)),
    url("img/image/footer1.jpg");
}

/************************************
              FOOTER
*************************************/
footer {
  background-color: rgba(144, 92, 76, 0.308);
}
/*********NEWSLETTER********/
.newsletter h6 {
  font-size: 18px;
}
.newsletter p {
  color: #787878;
}
.question h6 {
  font-size: 18px;
}
/*********BOUTON MAIL********/
.newsletter input[type="email"] {
  padding: 8px 10px;
  border-radius: 25px;
  border: none;
  width: 100%;
}
.newsletter input[type="email"]::placeholder {
  font-size: 13px;
}
/*********BOUTON JE M'ABONNE********/
.newsletter li input[type="submit"] {
  background-color: rgb(61, 138, 145);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
/*********LOGO RESEAUX********/
.newsletter .logo i {
  font-size: 25px;
  height: 50px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  color: white;
  padding: 10px;
}
.newsletter {
  position: relative;
  top: 45px;
}
/*********QUESTION********/

.question {
  background-color: rgb(61, 138, 145);
  border-radius: 15px;
}
.question p {
  color: white;
}
.horaire {
  font-size: 13px;
}
.paiements h6 {
  font-size: 18px;
}
/*********NOS MARQUES********/

.nosmarques h6 {
  font-size: 18px;
}
.nosmarques img {
  height: 90px;
  width: 90px;
  object-fit: cover;
}

/*********NOS PARTENAIRES********/
.nospartenaires h6 {
  font-size: 18px;
}
.nospartenaires img {
  height: 50px;
  width: 90px;
  padding-left: 10px;
  object-fit: center;
}
.marquespartenaires {
  position: relative;
  top: 45px;
}
.spa {
  object-fit: cover;
}
.santevet {
  object-fit: cover;
}
